


/* Estándar de temas */
:root, 
:root.light {
    --primary: rgba(0, 67, 176, 0.922);
    --secondary: rgba(0, 57, 150);
    --text-color: #123;
    --text-color-generico: rgb(255, 255, 255);
    --text-hover-1: rgb(0, 185, 202);
    --esbackground: linear-gradient(rgba(126,213,111,0.8), rgba(40,180,131,0.8) ); 
  }
   
  :root.dark {
    --primary: #121212de;
    --secondary: rgba(0, 10, 27, 0.922);
    --text-color: #45ADFE;
    --text-color-generico: rgb(255, 255, 255);
    --text-hover-1: rgb(83, 0, 185);

  }  
  
html{
  box-sizing: border-box;
}

/* Botones para seleccionar el tema de pagina */
  .theme-btn {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
  }
   
  .theme-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .theme-btn.dark {
    margin-right: 3%;
  }
  .theme-btn.light {
    display: none;
    margin-right: 3%;
  }
  
  .dark .theme-btn.dark {
    display: none;

  }
  .dark .theme-btn.light {
    display: block;

  }



/* Parámetros generales del body */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
	background: var(--bg-color); 
	font-size: 1em;
	line-height: 1.5em;
  text-align: justify;   

}

/* Parametros del header */
.main-header {
    width: 100%;
    background: var(--primary);
    color: var(--text-color-generico);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100

}	

	.main-header a {
		color: var(--text-color-generico);
        
	}

    .logo-header img {
        float: left;
        margin-left: 2%;
        width: 4rem;
       
    }

  

/* Parametros del banner*/

.banner{
  margin-top: 80px;
  padding-inline: 2%;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:  0  0 2rem 2rem;
}

.banner-g{
  margin-block: 1% ;
}


.banner img{
  width: 80%;
  border-radius: 2rem;
  animation-name: imagenani ;
  animation-duration: 5s ;
  animation-iteration-count: 1;
}


#bienvenida{
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.banner a{
  color: var(--text-color);
  text-decoration: none;
  color: inherit;
}
.banner h1{
  margin-block: 0rem;
  width: 100%;
  font-size: 1.2rem;
}
.banner h2{
  font-size: 2rem;
  width: 100%;
  margin-block: 1rem;
}
.banner h3{
  color: #00CF95;
  font-size: 2.3rem;
  margin-block: 2rem;
 

}
.banner h4{
  width: 80%;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-align: left;
  padding-left:2rem ;
  border-left:0.5rem solid rgb(0, 255, 225);

}

.banner button{
  padding: 1rem 3rem;
  color: white;
  background-color: #6D0AD3;
  border: 0rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  width: 50%;
}


.imagen-animada{
    animation-name: imagenani;
    animation-duration: 6s; 
}
@keyframes imagenani {
    from{opacity: 0;}
    to{  opacity: 1;}
   
}


/* Parametros del contenido */
.content {
  padding-inline: 8%;
  padding-block: 2%;
}
.d-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 3% ;
     }

     .d-content-tap i{
      padding-inline: 3%;
         }
         .d-content-tap img{
          width: 50%;
             }
    
       .d-content-tap {
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: center;
        margin-inline: 2%;
        padding: 5% ;
        width: 100%;
        min-width:150px;
        min-height: 50px;
        border-radius: 1rem;
        border: 2px solid #ebebeb;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--text-color);
        text-decoration: none;
        color: inherit;
      }    

      
.content-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 2% ;
  margin-block: 5%;

}
.content-target{
  margin: 2%;
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px  rgb(227, 227, 227);
  min-width: 300px; ;
  width: 400px;        text-decoration: none;
  color: inherit;
  
}
.content-target-img{
  display: flex;
  width: 40%;
  height: auto;
  margin-left: -11%;

}
.content-target img{
   width: 100%;
   height: auto;
   margin-bottom: 0;
   border-radius:  0.5rem 0rem  0rem  0.5rem;
}
.content-target h2{
  color: #00CF95;
  font-size: 1.3rem;
  margin-block: 2rem;
}
.content-target h3{
  color: #939393;
  font-size: 0.8rem;
  margin-block: 2rem;
  font-weight: 500; 
}




/* Parametros del footer */
.main-footer {
   	background: var(--primary);
	color: white;
	text-align: center;
    display:block;
    justify-content: center;

}
	.itemfooter-2 p {
        /* margin-left: 2rem;
		margin-right: 2rem; */
        margin-inline: 5rem;
        font-size: 0.85rem;    
	}
	
	.itemfooter-2 a {
		color: white;   
	}         
        
    .itemfooter-1{

        height: auto;
        padding: 2rem;
        

    }
    
    .itemfooter-2{

        background: var(--secondary);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .icon {
    
        transition: all 0.5s;
        width: 2rem;
        height: 2rem;
        margin-left: 2%;
        
     
    }
    .icon:hover{
    
        transform: scale(1.5);
        background-color: #f1f1f1;
        border-radius: 30%;
    }                        

    @media only screen and (max-width: 710px) {
        .banner img{  display: none;  }
        .banner { text-align: center; }  
        .content-section {display: flex; flex-direction: column;   }      
        .content-target { width: 90%; min-width:200px ;  }      
      }

