/* Estándar de temas */
:root, 
:root.light {
    --primary: rgba(0, 67, 176, 0.922);
    --secondary: rgba(0, 57, 150, 0.922);
    --text-color: #123;
    --esbackground: linear-gradient(rgba(126,213,111,0.8), rgba(40,180,131,0.8) ); 
  }
   
  :root.dark {
    --primary: #121212de;
    --secondary: rgba(0, 10, 27, 0.922);
    --text-color: #45ADFE;
  }  
  

/* Tema de pagina */
  .theme-btn {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
   
  .theme-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .theme-btn.light {
    display: none;
  }
  
  .dark .theme-btn.dark {
    display: none;
  }
  .dark .theme-btn.light {
    display: block;
  }



body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	background: var(--bg-color); 
	font-size: 1em;
	line-height: 1.5em;
    text-align: justify;   
    width: 100%;
}

.main-header {
    width: 100%;
	background: var(--primary);
	color: white;
    height: 99px;
    width: 100%;
    position: fixed;
    top: 0;
}	

	.main-header a {
		color: white;
        
	}

    .logo-header {
        float: left;
        padding: 35px;
        text-decoration: none;
    }

    nav {
        display: flex;
         float: right;

    }
        nav ul {

            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 60px;
            }
                
                nav ul li a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                    nav ul li a:hover {
                        background: #0ba649;
                    }
.main-banner {
    background: var(--secondary);
    margin-top: 99px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

                  
}

.main-banner img{
    width: 40%;
    min-width: 300px;
    border-radius:60% ;
    margin-left: 2%;

}
.main-banner h1{
   color: rgb(255, 255, 255);
   font-size: 1.5rem  ;
   margin-left: 2%;
}
.lineas{
    text-align: center;
    width: 0 ;
    margin: auto;
    font-size: 1.5rem ;
    white-space: nowrap;
    border-right: 4px solid black;
    transform: translateY(-60%);
    overflow: hidden;

}
.texto-animado{
      animation: texto-animado 5s steps(130) 1s normal both,
      cursor 0.5s steps(130) infinite normal;
      animation-iteration-count: 10s;
}

@keyframes texto-animado{
    from{
        width: 0;
    }
    to{
        width: 500px;
    }
}

@keyframes cursor{
    from{
        border-right-color: red;
    }
    to{
        border-right-color: transparent;
    }
}
 

.main-content {
	background: white;
    
}

	.main-content header,
	.main-content .content 
    {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        
    }
 
     .d-content {

           display: flex;
           flex-wrap: wrap;
           justify-content: center;
          
     }
      
	 
    img {
        max-width: 100%;
        height: auto;
        padding: 1%;
      }

.form {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
    input {


        width: 90%;
        height: 10%;
        padding: 1rem;
        border: solid 1px #b3aca7;

        outline: none;
        transition: all 0.3s ease-in-out;

      }
      
      input:hover {
        background: #e6fffc;
   
      }
      
      textarea {
        margin-top: 1%;
        width: 90%;
        padding: 1rem;
        padding-top: 2%;
        
        background: transparent;
        outline: none;
        
        color: #363636;
        
        border: solid 1px #b3aca7;
        
        transition: all 0.3s ease-in-out;

      }
      
      textarea:hover {
        background: #e6fffc;

      }
      
      .submit {
        width: 50%;
        max-width: auto;
        color: rgb(255, 255, 255);
        background-color: #00AF1C;

        outline:none;
        cursor: pointer;


      }
      
      .submit:hover {
        background: #008d2a;
      }


.article-home{
    color: #3B06D2;
}
.article-servicios{
    color: #D206B2;
}
.article-portafolio{
    color: #AAD206;
}



.main-footer {
   	background: var(--primary);
	color: white;
	text-align: center;
    display:block;
    justify-content: center;

}
	.itemfooter-2 p {
        /* margin-left: 2rem;
		margin-right: 2rem; */
        margin-inline: 5rem;
        font-size: 0.85rem;    
	}
	
	.itemfooter-2 a {
		color: white;   
	}         
        
    .itemfooter-1{

        height: auto;
        padding: 2rem;
        

    }
    
    .itemfooter-2{

        background: var(--secondary);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .icon {
    
        transition: all 0.5s;
        width: 2rem;
        margin-left: 2%;
        
     
    }
    .icon:hover{
    
        transform: scale(1.5);
        background-color: #f1f1f1;
        border-radius: 30%;
    }                        
