.body{
    
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(55, 55, 55);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    background-image: url("./src/hand-painted-watercolor-background-with-sky-and-clouds-shape.jpg");
    background-size: cover;
}

.profile{
    
    padding: 5px;
    width: 25%;
    border-radius: 10%;
    transition: all 0.5s;
}

.profile:hover{
    border-radius: 75%;
    transform: scale(1.10);
}
.article-1{

    letter-spacing: 1.5px;
    margin: auto;



}
.redes{
    padding: 10px;
  
}
.icon{

    transition: all 0.5s;
    max-width: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;

 
}
.icon:hover{

    transform: scale(1.5);
}


.firma{
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
}


h2{
    text-align: center;

}
.name{
    font-size: 2rem ;
    transition: all 0.5s;
   
}
.name:hover{
    color: rgb(0, 121, 197);
}
